:root {
    --bg-cyan: #009282;
    --bg-darkcyan: #006b62;
    --hd-green: #02b48ea4;
    --hd-height: 60px;
    --active-btn: 13, 175, 156; /* RGB colour */
}

h1 {
    text-align: left;
    margin: 1rem;
}

div {
    display: flex;
    align-content: flex-start;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

nav a {
    cursor: default;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    height: var(--hd-height);
    width: 100%;
}

.navbutton {
    background-color: var(--bg-cyan);
    border-color: var(--hd-green);
    border-radius: 0.7em;
    border-width: 3px;
    text-align: center;
    margin: 0.5rem;
    box-shadow: -2px 3px 2px 1px var(--bg-darkcyan);
    height: 2.5em;
    width: 90px;
}

.navbutton:hover {
    cursor: pointer;
    background-color: rgba(var(--active-btn), 0.75);
}

.isactive {
    background-color: rgb(var(--active-btn));
    font-weight: bold;
}

.headerimage {
    width: var(--hd-height);
    height: var(--hd-height);
}